/* There's no option to remove this :( */
.globaltoc-container {
    display: None !important;
}

/* A bit of space around... */
.container > div > div > .section {
    padding: 0.8em 3% 2em 3%;
    margin: 0;
}

/* These look much nicer if they are less wide */
.admonition {
    width: 70%;
    margin-left: 5%;
    padding: 10px 10px 15px 15px !important;
}

/* Make the code blocks look nicer */
.highlight {
    width: 90%;
    margin-left: 2.5%;
}

